<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{title}}</title>
    <link rel="stylesheet" href="/vendors/bs/css/bootstrap.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      {{#if user}}
        <div>Welcome, {{user.name}} (<a href="/logout">Logout</a>)</div>
      {{else}}
        <div>Need login? (<a href="/login">Login</a>, or <a href="/register">register</a>)</div>
      {{/if}}
    </div>
    <hr />
    {{{body}}}
    <script src="/vendors/jq/jquery-3.3.1.js"></script>
    <script src="/vendors/bs/js/bootstrap.js"></script>
  </body>
</html>
