<form name="login" action="/login" method="post">
  <div>username <input name="username" type="text" /></div>
  <div>password <input name="password" type="password" /></div>
  <div><button type="submit">Login</button></div>
</form>
