<form name="login" action="/register" method="post">
  <div>name <input name="name" type="text" /></div>
  <div>username <input name="username" type="text" /></div>
  <div>password <input name="password" type="password" /></div>
  <div><button type="submit">Register</button></div>
</form>
